{% extends 'base.html' %}

{% block title %}
    all title
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h1>Users</h1>
            {% for user in users %}
                <li><a href="{% url 'profiles:profile' user.username %}">{{user}}</a>
                    
                    {% for item in user.address_set.all %}
                        
                        {% if forloop.first %}
                            {{item}}
                        {% endif %}
                            
                    {% endfor %}
                        
                </li>
            {% endfor %}
        </div>

        <div class="col-lg-6">
            <h1>Suggested Jobs</h1>
            {% for user in matches %}
                
                {% for job in user.job_set.all %}
                    <li>{{job.position}} at {{job.employer}} in {{job.city}}</li>
                {% endfor %}
                    
            {% endfor %}
        </div>
    </div>
{% endblock content %}
    