{% extends 'home.html' %}

{% load static %}
{% block title %}
    Profile
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h1> 
                {% if user.get_full_name %}
                    {{user.get_full_name}}
                {% else %}
                    {{user.username}}
                {% endif %}
            </h1>

            {% for pic in user.userpicture_set.all %}
                                    
                {% if forloop.first %}
                    <img src="{{pic.image.url}}" alt="profile image" class="img-fluid rounded">     
                {% endif %}
                    
            {% endfor %}

        {% if not user.userpicture_set.all %}
            <img src="{% static 'img/image.png' %}" alt="default avatar" class="img-fluid rounded">
        {% endif %}
        </div>

        <div class="col-lg-6">
            
            {% if not request.user == user %}
                <h1>Match {{match}} %</h1>
            {% endif %}
                
            <h3>Info</h3>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Recent Jobs</div>
                <div class="card-body text-primary">
                    <p class="card-text">
                        {% for item in user.job_set.all %}
                            {{item}}
                        {% endfor %}
                    </p>
                </div>
            </div>

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Address</div>
                <div class="card-body text-primary">
                    <p class="card-text">
                        {% for item in user.address_set.all %}
                            
                            {% if request.user.userrole.role == "Premium" or request.user.userrole.role == "Staff" %}
                                <li>{{item.street_address}}, {{item.city}}, {{item.state}}</li>
                            {% else %}
                                {{item}}
                            {% endif %}
                                
                                
                        {% endfor %}
                    </p>
                </div>
            </div>


        </div>
    </div>
{% endblock content %}
    