{% extends 'home.html' %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    
    {{user}}
    <ul>
        
        {% for item in user.userpicture_set.all %}
            <li><img src="{{item.image.url}}" width="300px" alt="profile image"></li>
        {% endfor %}
            
    </ul>

    <ul>
        
        {% for item in user.address_set.all %}
            <li>{{item}}</li>
        {% endfor %}
            
    </ul>
    <ol>
        
        {% for item in user.job_set.all %}
            <li>{{item}}</li>
        {% endfor %}
            
    </ol>
        
{% endblock content %}
    