{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>
        
        {% block title %}
            
        {% endblock title %}
            
    </title>
  </head>
  <body>
      {% include 'navbar.html' %}
      <div class="container mt-5 body-content">
        <div class="row">
          
          {% if request.user.is_authenticated %}
            <div class="col-lg-2 col-12">
              <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a class="nav-link {% if request.resolver_match.url_name == 'home' %} active {% endif %}"  href="{% url 'home' %}" role="tab" aria-controls="v-pills-home" aria-selected="true">{% if request.session.new_matches_count %}<span class="badge badge-secondary float-right mt-1">{{request.session.new_matches_count}}</span>{% endif %}Home</a>
                <a class="nav-link {% if request.resolver_match.url_name == 'profile' %} active {% endif %} "  href="{% if request.user.is_authenticated %} {% url 'profiles:profile' request.user.username %} {% endif %} " role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                <a class="nav-link {% if request.resolver_match.url_name == 'questions' %}active{% endif %} "  href="{% url 'questions:questions' %}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Improve Match</a>
                <a class="nav-link "  href="{% url 'directmessages:inbox' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                  {% if not 'messages' in request.get_full_path %}
                    
                    {% if not request.session.number_of_messages == 0 %}
                      <span class="badge badge-secondary float-right mt-1">{{request.session.number_of_messages}}</span>
                    {% endif %}
                      
                  {% endif %} Messages
                </a>
                
                {% if 'messages' in request.get_full_path %}
                  <a class="nav-link {% if request.resolver_match.url_name == 'compose' %} active {% endif %} "  href="{% url 'directmessages:compose' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Compose</a>
                  <a class="nav-link {% if request.resolver_match.url_name == 'inbox' %} active {% endif %} "  href="{% url 'directmessages:inbox' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Inbox 
                    {% if not request.session.number_of_messages == 0 %}
                      <span class="badge badge-secondary float-right mt-1">{{request.session.number_of_messages}}</span>
                    {% endif %}
                  </a>
                  <a class="nav-link {% if request.resolver_match.url_name == 'sent' %} active {% endif %} "  href="{% url 'directmessages:sent' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Sent</a>
                {% endif %}
                  
              </div>
            </div>
          {% endif %}
            
          <!-- <div class="col-lg-2 col-12">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab"  href="{% url 'home' %}" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="badge badge-secondary float-right mt-1">9</span>Home</a>
              <a class="nav-link" id="v-pills-profile-tab"  href="/" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
              <a class="nav-link" id="v-pills-messages-tab"  href="/" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span class="badge badge-secondary float-right mt-1">12</span>Messages</a>
              <a class="nav-link" id="v-pills-settings-tab"  href="{% url 'questions:questions' %}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Improve Match</a>
            </div>
          </div> -->
          <div class="col-lg-10 col-12">
            {% include 'alert.html' %}
            {% block content %}
            {% endblock content %}
          </div>
        </div>
            
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- This ajax cdn is diffend from that one which by default we have in bustrab v-4  beaucse slick is not supored in here -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        {% block jQuery %}
          
        {% endblock jQuery %}
          
      });

      $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
      })

    </script>
    
  </body>
</html>