{% extends 'base.html' %}

{% block title %}
    Direct messages
{% endblock title %}

{% block content %}
        
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">Subject</th>
          </tr>
        </thead>
        <tbody>
            
            {% for item in messages_in_inbox %}
                <tr>
                <td>{{item.sender}}</td>
                <td>
                  
                  {% if item.read %}
                    <i class="bi bi-check2-all"></i>
                  {% else %}
                    <i class="bi bi-check2"></i>
                  {% endif %}
                  <a {% if item.read %} style="color: grey;" {% endif %} href="{{item.get_absolute_url}}">{{item.subject|truncatewords:10}}</a> {% if item.sent %} <small>{{item.sent}}</small> {% endif %} 
                </td>
                </tr>
            {% endfor %}
                
        </tbody>
      </table>
{% endblock content %}
    